/* Global Styles */
@font-face {
    font-family: 'Minecraft';
    src: url('/assets/fonts/Minecraft.ttf') format('truetype');
}

/* Header */
header {
    background: #fff;
    color: #333;
    padding: 0px;
    text-align: right;
    margin: 0;
    height: 30px;

}
header p {
    position: relative;
    padding-right: 8px;
    top:50%;
    transform: translateY(-50%);
    margin: 0;  
}


/* Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-family: 'Minecraft';
}

/* Loading Bar */
#loading-bar {
    width: 100%;
    height:20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color:#333;
    transition: width 1s ease-in-out;
}

/* Homepage */

#homepage {
    background: url('/assets/bg-01.png') center/cover no-repeat fixed;
    height: 100vh;
    display: grid;
    overflow: hidden;
}

.icon img {
    height: 64px;
    width: auto;
}

.icon {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    max-height: 100px;
    width:auto;

}

.icon-title {
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* Blog Posts */

#window-header {
    position: relative;
}

#window-header h3 {
    margin: 0;
    padding: 0;
}
  
#close-blog-post {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: auto;
    width: 30px;
}

#blog-window {
    display: none; /* Default display state*/
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 70%;

}

/* Footer */
footer {
    background: #fff;
    color: #333;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

#start-button {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    height: auto;
    width: 120px;
}

#clock{
    z-index: 3;
    position: absolute;
    right: 10px;
    bottom: -8px;
    background:#d9d9d9;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Mobile */
@media (max-width: 768px) {
    #homepage {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}
  
/* Desktop */
@media (min-width: 767px) {
    #homepage {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
    }
}